*{
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
    font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
body {
    background-color: #f5f9fb;
    padding: 20px;
}

.box1 {
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}